$colors: (primary: #66fcf1, primary-dark: #45A29E, dark: #020202);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

body {
    background-color: #020202;
    font-family: "Roboto", sans-serif;
}

/* Home Page */
#name {
    margin: 2% 0%;
    color: color(primary);
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
}

#home-page {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 48%;

    h2 {
        color: #c5c6c7;
        font-weight: 300;
        font-size: 3.3em;
    }
}

a.main-btn {
    margin: 3% 0%;
    color: color(primary);
    background-color: transparent;
    background-image: none;
    border-color: color(primary);
    border-radius: 0%;
    border: 2px solid;
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Montserrat";
}

a.main-btn :hover {
    color: #000000;
    background-color: color(primary);
    border-color: color(primary);
    font-weight: 700;
}

a.main-btn :focus,
a.main-btn .focus {
    box-shadow: 0 0 0 0.2rem color(primary);
}

.main-btn .disabled,
.main-btn :disabled {
    color: color(primary);
    background-color: transparent;
}

.main-btn :not(:disabled):not(.disabled):active,
.main-btn :not(:disabled):not(.disabled).active,
.show>.main-btn .dropdown-toggle {
    color: #000000;
    background-color: color(primary);
    border-color: color(primary);
}

.main-btn :not(:disabled):not(.disabled):active:focus,
.main-btn :not(:disabled):not(.disabled).active:focus,
.show>.main-btn .dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem color(primary);
}

/** InProgress Page */
#in-progress-page {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 48%;

    .title {
        margin: 2% 0%;
        color: color(primary);
        font-family: "Montserrat", sans-serif;
        font-size: 6em;
    }

    h2 {
        color: #c5c6c7;
        font-weight: 300;
        font-size: 2em;
    }
}

/** Nav Side */
@media only screen and (min-width: 992px) {
    .navbar {
        height: 100%;
        width: 350px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        display: block;

        .navbar-collapse {
            text-align: center;
        }

        .navbar-nav {
            margin: auto;
            flex-direction: column;
        }

        .nav-link {
            font-size: 1.1em;
        }

        .nav-link.dark {
            color: color(dark);
        }

        .nav-link.dark.icon {
            font-size: 1.5em;
            padding: 10%;
        }

        .nav-item.active {
            font-size: 1.2em;
            font-weight: 700;
        }

        .nav-img img {
            width: 12em;
            height: 12em;
            border-radius: 50%;
            border: #000000 solid .5em;
            margin: 2em 0em;
        }

        .collapse.navbar-collapse {
            margin-top: -15px;
        }

        .container.icon {
            position: absolute;
            right: 0px;
            bottom: 1.5em;
        }
    }

    .content .container-fluid {
        margin-top: 2.5em;
        margin-left: 350px;
        width: calc(100% - 350px);
        font-family: 'Raleway',
            sans-serif;
    }

    .skill {
        label {
            font-size: 0.8em;
            margin: 8px 0px 0px 0px;
        }

        .progress {
            height: 1.2em;
            border-radius: 0%;
            background-color: color(primary);
        }

        .progress-bar {
            background-color: color(primary-dark)
        }
    }
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #C5C6C7;
    display: inline-block;
    position: absolute;
    left: 12px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 0px 0px 30px 0px;
    padding-left: 0px;
}

ul.timeline>li:before {
    content: ' ';
    background: color(primary);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid black;
    left: 5px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

ul.timeline .title {
    font-size: 1.4em;
    font-weight: 700;
    color: color(primary);
    margin-top: 0px;
}

ul.timeline .company {
    font-size: 1.1em;
    font-weight: 200;
    font-style: italic;
}

ul.timeline .date {
    color: white;
    font-weight: 700;
}

ul.timeline .technology {
    position: absolute;
    bottom: 0px;
}

ul.timeline .technology-title {
    font-size: 0.8em;
}

ul.timeline .tag {
    background: color(primary);
    color: black;
    font-size: 0.7em;
    font-weight: 600;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 20px 0 23px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

ul.timeline .img-thumbnail {
    background-color: color(primary);
    border: 0px;
    border-radius: 0;
}

/* Contract */
#contract {
    .form-group {
        padding: 0.7em 0em;
    }

    .form-control {
        border-radius: 0px;
        border: 0px;
        color: #020202;
        font-size: 1em;
    }

    .input-group {
        border-radius: 0px;
    }

    .input-group-text {
        border-radius: 0px;
        background-color: color(primary);
        border: 1px solid color(primary);
        color: black;
    }

    textarea {
        height: 200px;
    }

    .btn {
        border-radius: 0;
        background-color: color(primary);
        border: 0px;
        color: #020202;
        font-weight: 500;
    }
}