body {
  background-color: #020202;
  font-family: "Roboto", sans-serif;
}

/* Home Page */
#name {
  margin: 2% 0%;
  color: #66fcf1;
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
}

#home-page {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 48%;
}

#home-page h2 {
  color: #c5c6c7;
  font-weight: 300;
  font-size: 3.3em;
}

a.main-btn {
  margin: 3% 0%;
  color: #66fcf1;
  background-color: transparent;
  background-image: none;
  border-color: #66fcf1;
  border-radius: 0%;
  border: 2px solid;
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Montserrat";
}

a.main-btn :hover {
  color: #000000;
  background-color: #66fcf1;
  border-color: #66fcf1;
  font-weight: 700;
}

a.main-btn :focus,
a.main-btn .focus {
  -webkit-box-shadow: 0 0 0 0.2rem #66fcf1;
          box-shadow: 0 0 0 0.2rem #66fcf1;
}

.main-btn .disabled,
.main-btn :disabled {
  color: #66fcf1;
  background-color: transparent;
}

.main-btn :not(:disabled):not(.disabled):active,
.main-btn :not(:disabled):not(.disabled).active,
.show > .main-btn .dropdown-toggle {
  color: #000000;
  background-color: #66fcf1;
  border-color: #66fcf1;
}

.main-btn :not(:disabled):not(.disabled):active:focus,
.main-btn :not(:disabled):not(.disabled).active:focus,
.show > .main-btn .dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #66fcf1;
          box-shadow: 0 0 0 0.2rem #66fcf1;
}

/** InProgress Page */
#in-progress-page {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 48%;
}

#in-progress-page .title {
  margin: 2% 0%;
  color: #66fcf1;
  font-family: "Montserrat", sans-serif;
  font-size: 6em;
}

#in-progress-page h2 {
  color: #c5c6c7;
  font-weight: 300;
  font-size: 2em;
}

/** Nav Side */
@media only screen and (min-width: 992px) {
  .navbar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar .navbar-nav {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .nav-link {
    font-size: 1.1em;
  }
  .navbar .nav-link.dark {
    color: #020202;
  }
  .navbar .nav-link.dark.icon {
    font-size: 1.5em;
    padding: 10%;
  }
  .navbar .nav-item.active {
    font-size: 1.2em;
    font-weight: 700;
  }
  .navbar .nav-img img {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: #000000 solid .5em;
    margin: 2em 0em;
  }
  .navbar .collapse.navbar-collapse {
    margin-top: -15px;
  }
  .navbar .container.icon {
    position: absolute;
    right: 0px;
    bottom: 1.5em;
  }
  .content .container-fluid {
    margin-top: 2.5em;
    margin-left: 350px;
    width: calc(100% - 350px);
    font-family: 'Raleway', sans-serif;
  }
  .skill label {
    font-size: 0.8em;
    margin: 8px 0px 0px 0px;
  }
  .skill .progress {
    height: 1.2em;
    border-radius: 0%;
    background-color: #66fcf1;
  }
  .skill .progress-bar {
    background-color: #45A29E;
  }
}

/* Timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #C5C6C7;
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 0px 0px 30px 0px;
  padding-left: 0px;
}

ul.timeline > li:before {
  content: ' ';
  background: #66fcf1;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 4px solid black;
  left: 5px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

ul.timeline .title {
  font-size: 1.4em;
  font-weight: 700;
  color: #66fcf1;
  margin-top: 0px;
}

ul.timeline .company {
  font-size: 1.1em;
  font-weight: 200;
  font-style: italic;
}

ul.timeline .date {
  color: white;
  font-weight: 700;
}

ul.timeline .roles ul > li.separator {
  list-style-type: none;
  padding: 5px;
}

ul.timeline .roles ul > li.sub-role {
  list-style-type: none;
}

ul.timeline .technology {
  position: absolute;
  bottom: 0px;
}

ul.timeline .technology-title {
  font-size: 0.8em;
}

ul.timeline .tag {
  background: #66fcf1;
  color: black;
  font-size: 0.7em;
  font-weight: 600;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 20px 0 23px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

ul.timeline .img-thumbnail {
  background-color: #66fcf1;
  border: 0px;
  border-radius: 0;
}

/* Contract */
#contract .form-group {
  padding: 0.7em 0em;
}

#contract .form-control {
  border-radius: 0px;
  border: 0px;
  color: #020202;
  font-size: 1em;
}

#contract .input-group {
  border-radius: 0px;
}

#contract .input-group-text {
  border-radius: 0px;
  background-color: #66fcf1;
  border: 1px solid #66fcf1;
  color: black;
}

#contract textarea {
  height: 200px;
}

#contract .btn {
  border-radius: 0;
  background-color: #66fcf1;
  border: 0px;
  color: #020202;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */